<%= render template:"admin-template/header.html" %>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>Title       :<%= @book.title %></td>
            </tr>
            <tr>
                <td>Description :<%= @book.description%></td>
            </tr>
            <tr>
                <td>Author Name       :<%= @book.author.name %></td>
            </tr>
            <tr>
                <td>page        :<%= @book.page%></td>
            </tr>
            <tr>
                <td>Price       :<%= @book.price %></td>
            </tr>
            <tr>
                <td><%= link_to 'Edit', edit_book_path(@book), class:'btn btn-success' %> </td>
            </tr>
        </table>

        
        <br>
        <br>
        <%= link_to 'Back', books_path, class:'btn btn-default' %>
    </div>
</div>



<%= render template:"admin-template/footer.html" %>